/////////////////////////////////////
//LOGO

.logo{
    height: 3.25rem;
    margin-left: 2rem;
}





/////////////////////////////////////
//SEARCH
.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}





/////////////////////////////////////
///USER NAVIGATION
.user-nav{
   align-self: stretch;

    display: flex;
    align-items: center;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
       
    }

    &__notification{
        font-size: .8rem;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.7rem;
        right: 1.7rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
        overflow: hidden;
    }
}

/////////////////////////////////////
//SIDE NAVIGATION

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item{
        position: relative;

        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }
    
    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__link:hover{
        color: var(--color-grey-light-1);
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

/////////////////////////////////////
//LEGAL TEXT
.legal{
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}


////////////////////////////////////////
// GALLERY
.gallery{
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }
}

////////////////////////////////////////
// OVERVIEW
.overview{
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading{
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

    }

    &__stars{
        // flex: 1;
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location{
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--color-primary);
    }

    &__location{
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__rating{
        background-color: var(--color-primary);
        color: #fff;
        padding: 0 2.25rem;
        margin-left: 3rem;
        align-self: stretch;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;
        
    }


}


.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        color: var(--color-grey-dark-1);
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rbga(0,0,0,.25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}
