.container{
    max-width: 100rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 40rem;
}


.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-dark-1);

    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    flex: 1;
    background-color: #fff;
    height: 80rem;
}

.detail{
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description{
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews{
    background-color: yellowgreen;
    flex: 1;
}